.about {
  grid-column: full-start/full-end;
  background-color: var(--light-color);

  display: grid;
  grid-template-rows: minmax(12rem, maxcontent) 1fr;
  grid-template-columns: 15rem minmax(50rem, 1fr) 15rem;
  grid-gap: 1rem;
  justify-items: center;

  h1 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  p {
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: start;
  }

  &__icon {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 2rem;

    svg {
      height: 5rem;
      width: 5rem;
      fill: var(--primary-color);
    }
    // background-color: var(--primary-color);
    // z-index: 2;
  }
}
