:root {
  //COLOR VARIABLES
  --primary-color: #f46524;
  --primary-color-dark: darken(var(--primary-color), 10);
  --secondary-color: #334960;
  --secondary-color-light-1: rgb(167, 176, 191);
  --secondary-color-light-2: rgb(104, 120, 135);
  --light-color: rgb(235, 237, 239);
  --light-color-primary: rgb(252, 236, 230);
  --light-redish-primary: rgb(197, 57, 41);

  //FONTS VARIABLES
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Roboto', Helvetica, sans-serif;
}

//RESPONSIVE BREAKPOINTS
$bp-largest: 75em; //1200px
$bp-large: 67.5em; //1080px
$bp-medium: 60em; //960px
$bp-small: 45em; //720px
$bp-smaller: 37.5em; //600px

html {
  font-family: var(--font-primary);
  box-sizing: border-box;

  font-size: 65.5%; // 10/16 = 62.5% ==> 1rem = 10px

  @media only screen and (max-width: $bp-largest) {
    font-size: 56.25%; //9/16 => 56.25%, => 1rem = 9px
  }

  @media only screen and (max-width: $bp-large) {
    font-size: 50%; //8/16 => 50%, => 1rem = 8px
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 46.8%; //7.5/16 => 46.8%, => 1rem = 7.5px
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: inherit;
  color: var(--secondary-color-light-2);
}

.container {
  display: grid;
  grid-template-rows:
    calc(100vh - 6rem) min-content repeat(3, minmax(30vw, max-content))
    minmax(40vw, max-content) minmax(7rem, max-content);
  grid-template-columns:
    [full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(15rem, 1fr) [col-end])
    [center-end] minmax(6rem, 1fr) [full-end];
  @media only screen and (max-width: $bp-small) {
    grid-template-rows:
      calc(100vh - 6rem) min-content repeat(4, minmax(30vw, max-content))
      minmax(40vw, max-content) minmax(7rem, max-content);
  }
}

a:link,
a:visited {
  text-decoration: none;
  list-style: none;
}
