.icon {
  width: 2rem;
  height: 2rem;
  fill: var(--light-color);
  justify-self: center;
}

.btn {
  color: var(--light-color);
  border: none;
  border-radius: 0;
  font-size: 1.6rem;
  background-color: transparent;
  font-family: var(--font-primary);
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s;
  transform: scale(1);
  padding: 1.3rem 2rem;
  box-shadow: 0 2rem 6rem rgba(var(--secondary-color), 0.4);
  display: grid;
  // grid-template-columns: repeat(2, minmax(4rem, max-content));
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: max-content;

  &:active,
  &:focus {
    outline: none;
    transform: scale(0.9);
    transition: all 0.2s;
  }

  &__round {
    border-radius: 100px;
  }
}

.btn__outlined {
  border: 1px solid var(--light-color);
}

.btn__full {
  background-color: var(--primary-color);
  &:hover {
    background-color: darken(#f46524, 10);
  }
}

.heading__primary {
  font-weight: 900;
  letter-spacing: -0.161em;
  font-size: 13.7rem;
  font-style: normal;
  text-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.466);
  color: var(--light-color);
  z-index: 2;
}

.heading__secondary {
  font-weight: 500;
  letter-spacing: -0.1em;
  font-size: 5rem;
  text-transform: capitalize;
  text-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.466);
  color: var(--light-color);
}

.list {
  list-style: none;
  .list-items {
    &::before {
      content: '';
      display: inline-block;
      height: 1.7rem;
      width: 1.7rem;
      margin-right: 0.7rem;

      background-image: url(../img/SVG/chevron-with-circle-right.svg);
      background-size: cover;

      background-color: var(--secondary-color);
      -webkit-mask-image: url(../img/SVG/chevron-with-circle-right.svg);
      -webkit-mask-size: cover;
      mask-image: url(../img/SVG/chevron-with-circle-right.svg);
      mask-size: cover;
      background-image: none;
    }
    &:not(last-child) {
      margin-bottom: 1.6rem;
    }
  }
}

.heading-4 {
  font-weight: 450;
  font-size: 4rem;
  color: var(--secondary-color);
  text-transform: capitalize;
  margin: 2rem 0;
}
