.icon {
  width: 2rem;
  height: 2rem;
  fill: var(--light-color);
  justify-self: center;
}

.btn {
  color: var(--light-color);
  border: none;
  border-radius: 0;
  font-size: 1.6rem;
  font-family: var(--font-primary);
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s;
  transform: scale(1);
  padding: 1.3rem 2rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(4rem, max-content));
  &:hover {
    background-color: darken(#f46524, 15);
  }

  &:active,
  &:focus {
    outline: none;
    transform: scale(0.9);
    transition: all 0.2s;
  }

  &__round {
    border-radius: 100px;
  }

  &__round-right {
    border-bottom-right-radius: 30px;
  }
}

.btn__outlined {
  border: 1px solid var(--light-color);
}

.heading__primary {
  font-weight: 900;
  letter-spacing: -0.161em;
  font-size: 13.7rem;
  font-style: normal;
  text-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.466);
  color: var(--light-color);
  z-index: 2;
}

.heading__secondary {
  font-weight: 700;
  letter-spacing: -0.1em;
  font-size: 10.7rem;
  font-style: normal;
  text-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.466);
  color: var(--light-color);
}
